.app{

}



.collectionAll{
  max-width: 470px;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 20px;
}
.CollectionBig{
  height: 250px;
  width: 450px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.collectionBottom{
  display: flex;
  justify-content: space-around;
}

.CollectionSmall{

  height: 100px;
  border-radius: 5px;
}
.categoryName{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.divLi{
  display: inline-block;
  padding: 5px 16px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}
:hover.divLi{
  border: 1px solid #413f3f
}
.active {
  display: inline-block;
  padding: 5px 16px;
  background-color: #000000;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
  color:white;
}